<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <img src="assets/img/logo_live_add.png" class="icon-in-button">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding class="backgroundZinger">
  <ion-grid id="homeMeCtn">
    <ion-row>
      <ion-col col-3>
        <div class="avatarOnline">
            <img src="assets/img/generic_avatar.png" class="avatarImage img-fluid">
        </div>
      </ion-col>
      <ion-col col-9>
        Nick <br>
        <small>Subnick</small> <br>
        <small><b>clemens@gmail.com</b></small>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="searchBoxCtn">
    <input type="text" id="searchField" placeholder="Buscar Amigo" [(ngModel)]="query">
  </div>

  <div>
    <div>
      <b>Amigos</b>
    </div> 
    <div *ngFor="let user of users | search: query">
      <div class="contact-list-item" [ngClass]="{ 'contac-offline': user.status == 'Offline' || user.status == 'AppearOffline' }" [ngStyle]="{ 'color': user.status == 'Offline' || user.status == 'AppearOffline' ? 'red' : 'blue'}" (click)="goToChat(user)">
        <img src="assets/img/{{ getIconByStatus(user.status) }}" class="status">
        <b>{{ user.nick }}</b>
        <small *ngIf="user.status">{{ user.status }}</small>
      </div>
    </div>
  </div>

</ion-content>