<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div padding>
    <input type="text" placeholder="Buscar Amigo" [(ngModel)]="query">
  </div>
  <span>Conectados</span>
  <ion-list>
    <ng-container *ngFor="let user of users | search: query; let i = index">
      <ion-item *ngIf="user.status !== 'Offline'" (click)="goToChat(user)">
        {{ user.nick}}-{{ user.status }}
      </ion-item>  
    </ng-container>
  </ion-list>
</ion-content>